body {
    background-image: url(https://media.istockphoto.com/id/1286354786/es/vector/fondo-abstracto-texturizado-de-prisma-oscuro.jpg?b=1&s=612x612&w=0&k=20&c=fMMUSusSTtO6Zph3HpKrQINdjAUquDqbklfNmUOJzQ4=);
    background-repeat:round;
    
}
h1 {
    color: red;
    position: relative;
    top: auto;
    left: 80px;
}
img {
    width: 400px;
}
#ThirdDiv {
    height: 600px;
    width: 500px;
    background-color: blue;
    padding: 50px;
    border: 5px solid cyan;
    position: relative;
    left: 100px;

}

#SpanId {
    font-size: 18px;
    margin: 50px;
}

#DivClass {
    display: flex;
    justify-content: center;
    align-content: center;
}
h3 {
position: relative;
top: 50px;
left: auto;
}
h4 {
position: relative;
top: 90px;
left: -90px;
}